<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>
    You are optimizing the data entry form, called Legacy Form.
  </p>
  <p>
    Problem with form legacy is that it only allow data entry for one item at a
    time.
  </p>
  <p>
    The idea is that you can solve the problem by displaying a list of items,
    for a given search criteria.
  </p>
  <ul>
    <li>
      Legacy Form
    </li>
    <li>
      Solution 1
    </li>
    <li>
      Solution 2
    </li>
    <li>
      Solution 3
    </li>
  </ul>
</div>
